<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Đồng Hồ Cho GenZ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p><i class="fas fa-phone-square"></i>  GỌI NGAY: <a href="tel:+84-355156468">+84-355 15 6468</a></p>
                    </div>
                    <div class="our-link" style="float:right">
                        <ul>
                            <li><a href="#"><i class="fab fa-opencart"></i> Zenith Watch - </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box dropdown">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    Đảm bảo hàng chính hãng, bảo hành 12 tháng!
                                </li>
                                <li>
                                    Sản phẩm luôn được cập nhật!
                                </li>
                                <li>
                                    Nhiều ưu đãi, giảm giá!
                                </li>
                                <li>
                                    Luôn đặt uy tín lên đầu.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/img/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item">@Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Sản phẩm", "Index", "Products", null, new { @class = "nav-link" })</li>
                        @Html.Action("BrandMenu", "Home")
                        @Html.Partial("_Account")
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        @Html.Partial("_CartInfo")
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list" id="_recentCart">
                        @Html.Action("CartView", "Cart")
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <div>
        @RenderBody()
        <hr />
        <!-- Start Footer  -->
        <footer>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Giờ làm việc</h3>
                                <ul class="list-time">
                                    <li><p>Thứ 2 - Thứ 6: 08.00am to 05.00pm</p></li>
                                    <li><p>Thứ 7: 10.00am to 08.00pm</p></li>
                                    <li><p>Chủ Nhật: <span>Đóng Cửa.</span></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Mạng xã hội</h3>
                                <p>Bạn có thể theo dõi và tương tác chúng tôi thông qua các mạng xã hội bên dưới.</p>
                                <ul class="">
                                    <li><a href=https://www.facebook.com/tuan.huynh.5201254/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link-contact">
                                <h3>LIÊN HỆ</h3>
                                <ul>
                                    <li>
                                        <p><i class="fas fa-map-marker-alt"></i>Address: 141 Điện Biên Phủ <br>Bình Thạnh,<br> TP. Hồ Chí Minh </p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+84-355156468">+84-355 15 6468</a></p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-envelope"></i>Email: <a href="mailto:huynhmytuan@gmail.com">huynhmytuan@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer  -->
        <!-- Start copyright  -->
        <div class="footer-copyright">
            <p class="footer-company">
                UEF University All Rights Reserved. &copy; 2021 <a href="https://www.facebook.com/tuan.huynh.5201254/">Team Leader</a>
            </p>
        </div>
        <!-- End copyright  -->
    </div>
    <script type="text/javascript">
            setInterval("$('#_recentCart').load('Cart/CartView')", 1000);
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
