@model IEnumerable<WatchShop.Models.Product>

@{
    if (Model.Count() == 0 )
    {
        <li>
            <h6>Giỏ Hàng Rỗng</h6>
        </li>
    }
    else
    {
        foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details","Products" ,new { id = item.Id })" class="photo"><img src="~/Content/img/products/@Html.DisplayFor(modelItem => item.Image)" class="cart-thumb" alt="" /></a>
                <h6><a href="@Url.Action("Details","Products" ,new { id = item.Id })"> @item.Name </a></h6>
                <!--Display currency Vnd Format-->
                @{
                    var price = item.UnitPrice;
                    var cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                    var result = price.ToString("#,###", cul.NumberFormat);
                    <p>@item.Quantity x - <span class="price" id="nn-cart-total">@result đ</span></p>
                }
            </li>
        }
    }
}
<li class="total">
    <a href="@Url.Action("Index","Cart")" class="btn btn-default hvr-hover btn-cart">XEM GIỎ</a>
    @{
        var cul2 = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        <span class="float-right"><strong>Tổng</strong>: @ShoppingCart.Cart.Total.ToString("#,###", cul2.NumberFormat) đ</span>
    }

</li>

