@model IEnumerable<WatchShop.Models.Product>
@{
    ViewBag.Title = "Shopping Cart";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Giỏ Hàng</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Products")">Sản Phẩm</a></li>
                    <li class="breadcrumb-item active">Giỏ Hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Giá</th>
                                <th>Giảm</th>
                                <th>Số Lượng</th>
                                <th>Tổng</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                var cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="@Url.Action(" Details", "Products", new { id = p.Id })">
                                            <img class="img-offer" src="~/Content/img/products/@p.Image" alt="" />
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="@Url.Action(" Details", "Products", new { id = p.Id })">
                                            @p.Name
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>@p.UnitPrice.ToString("#,###", cul.NumberFormat) đ</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>@Html.FormatValue(p.Discount, "{0:p}")</p>
                                    </td>
                                    <td class="quantity-box"><input class="quantity" value="@p.Quantity" data-id="@p.Id" size="3"></td>
                                    <td class="total-pr" id="@p.Id">
                                        @{
                                            var total = (p.UnitPrice * p.Quantity * (1 - p.Discount));
                                            <p> @total.ToString("#,###", cul.NumberFormat) đ</p>
                                        }

                                    </td>
                                    <td class="remove-pr">
                                        <a href="#" class="remove-from-cart" data-id="@p.Id">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5" action="/Cart/Clear" method="post">
            <div class="col-lg-4 col-sm-6">
                <a href="/Cart/Clear">
                    <div class="update-box">
                        <input value="Xóa Giỏ Hàng" type="submit">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/Products/Index">
                    <div class="update-box">
                        <input value="Mua Thêm" type="submit">
                    </div>
                </a>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Tổng hóa dơn</h3>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Phí Ship</h4>
                        <div class="ml-auto font-weight-bold"> Free </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5">
                            @{
                                var cul2 = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                <p>@ShoppingCart.Cart.Total.ToString("#,###", cul2.NumberFormat) đ</p>
                            }
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="@Url.Action("Checkout","Oder")" class="ml-auto btn hvr-hover">Thanh Toán</a> </div>
        </div>

    </div>
</div>


