@model WatchShop.Models.Product

@{
    ViewBag.Title = "Tạo mới";
}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Quản lý sản phẩm</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">QUẢN LÝ SẢN PHẨM</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br />
    <h2  style="text-align:center"><b>THÊM MỚI SẢN PHẨM</b></h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal center-page">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h5 style="font-weight:bold" >Mã sản phẩm</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Tên sản phẩm</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Đơn vị</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitBrief, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitBrief, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Đơn giá</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Hình ảnh</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Thời gian nhập</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Sản phầm có sẵn</h5>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Available)
                        @Html.ValidationMessageFor(model => model.Available, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Mô tả</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Loại sản phẩm</h5>
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Hãng</h5>
                <div class="col-md-10">
                    @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Số lượng</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Giảm giá</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Sản phẩm đặc biệt</h5>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Special)
                        @Html.ValidationMessageFor(model => model.Special, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5  style="font-weight:bold">Sản phẩm mới</h5>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Latest)
                        @Html.ValidationMessageFor(model => model.Latest, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5 style="font-weight:bold">Lượt xem</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Views, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Views, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn hvr-hover", @style = "color:white" })
                    </div>
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Thêm mới" class="btn hvr-hover", style = "color:white" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>
    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
