@model WatchShop.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Quản lý tài khoản</h2>
                <h3>@Model.</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Tài Khoản</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start My Account  -->
<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="@if (Model.HasPassword)
                                {
                                    @Url.Action("ChangePassword")
                                }
                                else
                                {
                                    @Url.Action("SetPassword")
                                }"> <i class="fa fa-lock"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Đổi mật khẩu</h4>
                                <p>Đổi mật khẩu hoặc đặt mật khẩu của bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="@Url.Action("ManageLogins")"> <i class="fa fa-exchange-alt"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Liên Kết Tài Khoản</h4>
                                <p>Đã liên kết với: @Model.Logins.Count tài khoản .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End My Account -->
