@model WatchShop.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng Ký";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="cart-box-main">
            <div class="container">
                <div class="row new-account-login">
                    <div class="col-sm-6 col-lg-6 mb-3">
                        <div class="title-left">
                            <h3>Tạo Tài Khoản Mới</h3>
                        </div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form class="mt-3 collapse review-form-box" id="formRegister">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.Label("user Role", new { @class = "col-md-2 control-label" })
                                    @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
                                </div>
                            </div>
                            <input type="submit" class="btn hvr-hover btn-default" value="Đăng Ký"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }

